.loginWrapper {
	min-height: 90vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginButton {
	margin: 0 auto;
	padding: 0.5rem 1rem;
	background-color: #0fbea73a;
	color: #0fbea7;
}

.login {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
