.loginButton {
	margin: 0 auto;
	padding: 20px;
}

.logoutButton {
	margin: 0 auto;
	padding: 20px;
}

.login {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.logout {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}
