html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	transition: all 0.2s;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none !important;
}

::selection {
	color: #0fbea7;
	background-color: #0fbea73a;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 3px;
	transition: all 0.2s;
	background: #0fbea793;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(15, 190, 167, 0.808);
}
